@import-normalize;

:root {
  /* background */
  --bg-body: #040404;
  --bg-container: #e6533c;
  --bg-btn: #e6533c;
  --bg-btn-hover: #ef8964;
  --bg-btn-sec: #ef8964;
  --bg-l-icon: #ef8964;
  --bg-r-icon: #efa082;

  /* text */
  --color-text-primary: #efede8;
  --color-text-pr80: #efede8cc;
  --color-text-pr65: #efede8a6;
  --color-text-pr60: #efede899;
  --color-text-pr50: #efede880;
  --color-text-pr40: #efede866;
  --color-text-pr30: #efede84d;
  --color-text-secondaryV1: #ef8964;
  --color-text-caloriesV2: #e6533c;
  --color-text-white: #ffffff;

  --color-btn-primary: #efede8;
  --color-btn-secondary: #e6533c;

  /* border */
  --border-20: 1px solid#EFEDE833;
  --border-30: 1px solid #efede84d;
  --border-positive: 1px solid #3cbf61;
  --border-negative: 1px solid #e9101d;
  --border-color-btn-hover: #e6533c;
  --border-color-link-hover: #efede8;

  /* transition */
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  src: local('Inter'),
    url('./fonts/regular/Roboto-Regular.woff2') format('woff2'),
    url('./fonts/regular/Roboto-Regular.woff') format('woff'),
    url('./fonts/regular/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  src: local('Inter'), url('./fonts/bold/Roboto-Bold.woff2') format('woff2'),
    url('./fonts/bold/Roboto-Bold.woff') format('woff'),
    url('./fonts/bold/Roboto-Bold.ttf') format('truetype');
}

/* bring in normalize.css styles */
*,
::before,
::after {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background: rgba(239, 237, 232, 0.1);
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #040404;
  color: #efede8;
}

code {
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  display: block;
  cursor: pointer;
}

img {
  display: block;
  line-height: 0;
  height: auto;
}

.container {
  margin: 0 auto;
}

/* @media screen and (min-width: 375px) {
} */

@media screen and (max-width: 767px) {
  .container {
    width: 375px;
    padding: 0 20px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 32px;
  }
}

/* @media screen and (max-width: 1439px) {} */

@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
    padding: 0 96px;
  }
}
