@import-normalize;

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src:
    local("Inter"),
    url("./fonts/regular/Roboto-Regular.woff2") format("woff2"),
    url("./fonts/regular/Roboto-Regular.woff") format("woff"),
    url("./fonts/regular/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  src:
    local("Inter"),
    url("./fonts/bold/Roboto-Bold.woff2") format("woff2"),
    url("./fonts/bold/Roboto-Bold.woff") format("woff"),
    url("./fonts/bold/Roboto-Bold.ttf") format("truetype");
}

/* bring in normalize.css styles */
*,
::before,
::after {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background: rgba(239, 237, 232, 0.10);
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #040404;
  color: #EFEDE8;
}

code {
  font-family: 'Roboto',
    sans-serif;
}

h1,
h2,
h3,
p {
  margin: 0;

}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  display: block;
  cursor: pointer;
}

img {
  display: block;
  line-height: 0;
  height: auto;
}